.card {
    padding: 1rem;
    width: 100%;
    height: 400px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: left;
}

.cardName {
    display: flex;
    justify-items: flex-start;
    height: 1.5rem;
    font-size: 1rem;
}

.cardImage {
}

.cardAuthor {
    display: flex;
    justify-items: flex-end;
    height: 1.5rem;
    font-size: 0.8rem;
}
